@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  font-family:
    "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}
